@use 'variables/global';
@use 'reset';
@use 'themes/normal';

body {
	font: var(--font-m);
	color: var(--primary-color);
}

.app {
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
}
