:root {
	--bg-color: #ecf4ff;
	--inverted-bg-color: #2c4b80;

	--primary-color: #748dc0;
	--primary-color-light: #8aa5d4;
	--primary-color-dark: #5e78a2;

	--secondary-color: #5474b4;

	--inverted-primary-color: #b9c7e2;
	--inverted-secondary-color: #dce4f5;

	--btn-radius: 6px;
	--transition: 0.25s ease-in-out;

	--light-bg-color: #f7faff;
	--light-border-color: #dbe5f5;
	--light-text-color: #3f5878;
	--light-hover-bg: #e4efff;
	--light-hover-text: #2c4568;

	--destructive-color: #e53e3e;
}
